{{#extend "css"}}
<link rel='stylesheet' href='/stylesheets/user/robot/robot.css' />
{{/extend}}

<div class="col-lg-12">
	<div class="page-header">
  		<h1>爬虫GUI页面</h1>
	</div>
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="page-header">
				<h2>网址录入</h2>
			</div>
			<div class="col-lg-6">
				<div class="input-group">
				<input type="text" class="form-control J-url" placeholder="输入要爬取的页面,必须加http://">
				<span class="input-group-btn">
					<button class="btn btn-default J-sub-url" type="button">添加</button>
				</span>
				</div><!-- /input-group -->
			</div>
		</div>
		
		<div class="panel-body">
			<div class="page-header">
				<h2>链接选择</h2>
			</div>
			<div class="list-group">
				<a class="list-group-item disabled">请点击要爬去的链接</a>
				{{#each url}}
					<a href="/users/urlinfo/?id={{this.id}}" class="list-group-item">{{this.url}}</a>
				{{/each}}
			</div>
		</div>
		
		<div class="panel-body">
			<div class="page-header">
				<h2>抓取所有图片</h2>
			</div>
			<div class="control" style="margin-bottom: 10px;">
				<button class="btn btn-success J-start-download">开始</button> <button class="btn btn-danger">结束</button>
			</div>
			<div class="panel panel-default">
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item"><code>进度</code><span class="J-number">0/0</span></li>
						<li class="list-group-item"><code>单文件耗时</code><span class="J-time">0</span>毫秒</li>
					</ul>
				</div>
			</div>		
			<div class="progress">
				<a name="jindu" style="display:none"></a>
				<div class="progress-bar progress-bar-striped active J-jindu" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
			</div>
		</div>
	</div>
</div>

{{#extend "script"}}
<script src="/javascripts/user/robot/robot.js"></script>
<script src="http://127.0.0.1:3001/socket.io/socket.io.js"></script>
<script>
	var socket = io.connect('http://localhost:3001');
	
	socket.on('news', function (data) {		
		var width = ((data[1] - data[0]) / data[1]) * 100;
    	$('.J-jindu').width(width + '%');
		$('.J-number').text((data[1] - data[0]) + '/' + data[1]);
  	});
</script>
{{/extend}}